<div class="border-end sidebar" id="sidebar-wrapper">
  <div class="sidebar-heading">
    CRM
    <div class="d-lg-none text-muted small mt-2">Sales Lead Generator</div>
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action{% if current_page == 'overview' %} active{% endif %}" href="/">Overview</a>
    <a class="list-group-item list-group-item-action{% if current_page == 'leads' %} active{% endif %}" href="/leads">Leads</a>
  </div>
  <div class="sidebar-footer p-3">
    <div class="d-flex align-items-center">
      <div class="avatar">D</div>
      <div class="ms-2">Dennis</div>
    </div>
  </div>
</div>
