# API_KEY= your_api_key_here
# BASE_URL = https://api.sportsdata.io/v3/nba/scores/json/
# POSTGRES_DB_URL = postgresql://username:password@localhost:5432/nba_db
# FIREBASE_DB_URL = 
# SUPABASE_DB_URL = 

# EMAIL_SENDER = your_email@example.com
# EMAIL_PASSWORD = your_email_password
# SMTP_SERVER = smtp.example.com
# SMTP_PORT = 465
# EMAIL_RECIPIENT = recipient_email@example.com